@page "/"

<PageTitle>Index</PageTitle>

<nav>
    <!--Replace with file system API-->
        <InputFile OnChange="OpenFile"></InputFile>
        <button @onclick="DownloadFile">Download</button>

    <!--Add supported request-->
    <button @onclick="Copy">Copy</button>
    <button @onclick="Paste">Paste</button>
    <button @onclick="Share">Share</button>
    <button @onclick="ResetCanvas">Clean up</button>
    <input type="color" @onchange="OnColorChange">
</nav>

<div style="width: 100%; height: 100%; overflow: hidden; touch-action: none;">
    <Canvas @ref="_canvas"
            id="paint-canvas"
            @onpointerdown="OnPointerDown"
            @onpointerup="InternalPointerUp"
            @onpointermove="OnPointerMove"
            width="600"
            height="480">
    </Canvas>
</div>